<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lolup.lolup_project.duo.MybatisDuoRepository">

    <resultMap id="convertDto" type="DuoDto">
        <result column="most3" property="most3" javaType="java.util.List" typeHandler="MybatisTypeHandler"/>
    </resultMap>

    <select id="findAll" parameterType="java.lang.String" resultMap="convertDto">
        SELECT * FROM duo
        <choose>
            <when test="!_position.equals('ALL') and !_tier.equals('ALL')">
                WHERE position = #{_position} AND tier = #{_tier}
            </when>
            <when test="!_position.equals('ALL')">
                WHERE position = #{_position}
            </when>
            <when test="!_tier.equals('ALL')">
                WHERE tier = #{_tier}
            </when>
        </choose>
        ORDER BY memberId DESC
    </select>

    <select id="findById" resultMap="convertDto">
        SELECT * FROM duo WHERE duoId = #{duoId}
    </select>

    <select id="save" parameterType="DuoDto" resultType="java.lang.Long">
        INSERT INTO duo (memberId, iconId, summonerName, position , tier, rank, most3, win, lose, latestWinRate, `desc`)
            values (#{memberId}, #{iconId}, #{summonerName}, #{position}, #{tier}, #{rank}, #{most3, typeHandler=MybatisTypeHandler}, #{win}, #{lose}, #{latestWinRate}, #{desc})
            RETURNING duoId;
    </select>

    <delete id="delete">
        DELETE FROM duo WHERE duoId = #{duoId}
    </delete>

    <update id="update">
        UPDATE duo SET position = #{param2}, `desc` = #{param3} WHERE duoId = #{param1}
    </update>

</mapper>
