<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lolup.lolup_project.token.MyBatisRefreshTokenRepository">

    <select id="find" resultType="RefreshToken">
        SELECT * FROM refresh_token WHERE memberId = #{_memberId} AND refresh_token = #{refreshToken}
    </select>

    <select id="save" parameterType="RefreshToken" resultType="java.lang.String">
        INSERT INTO refresh_token (memberId, refresh_token)
            values (#{memberId}, #{refreshToken})
            ON DUPLICATE KEY UPDATE memberId = #{memberId}, refresh_token = #{refreshToken}
            RETURNING refresh_token;
    </select>

</mapper>
