<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.lolup.lolup_project.config.mybatis.MybatisTypeHandler"/>
    </typeHandlers>
    <mappers>
        <mapper resource="DuoMapper.xml"/>
        <mapper resource="MemberMapper.xml"/>
        <mapper resource="RefreshTokenMapper.xml" />
        <mapper resource="MessageMapper.xml" />
    </mappers>
</configuration>
